<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/images/blog_image.png" width="30" height="30" class="d-inline-block align-top"
         alt="">
    Blog Administration
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/posts']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-newspaper"></i> Posts</a>
      </li>
      <ng-container *ngIf="!isAuthenticated(); else userLoggedIn">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/singin']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-sign-in-alt"></i> Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><i class="far fa-user-circle"></i> Register</a>
        </li>
      </ng-container>

      <ng-template #userLoggedIn>
        <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link"  href="javascript:void(0)"><i class="far fa-user-circle"></i> Welcome USER</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link"  href="javascript:void(0)" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
